@charset "UTF-8";
.tag{
    text-decoration: none;
    font-size: 10px;
    line-height: 3px;
    //color: #32D3C3;
    color: #1756a9;
    font-weight:bold;
    display: inline-block;
    border-radius: 230px;
    // border: 1px solid #32D3C3;
    border: 1px solid #1756a9;
    padding: 10px 18px;
    margin: 0px 0px 0 0;
    height: 3px;
    }
.tag:hover{
     // background-color: #32D3C3;
     background-color: #1756a9;
     color: white;
 }

