---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h5 class="post-title" itemprop="name headline">{{ page.title }}</h5>
    <p class="post-meta fa fa-calendar"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%Y-%m-%d" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
  <hr />

 {% include share.html duoshuo_title=page.title  duoshuo_url=page.url duoshuo_content=page.excerpt %}
 {% include duoshuo.html duoshuo_title=page.title  duoshuo_url=page.url %}
</article>
